
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 

    <title>Katalog Nasi Jepang</title>

    <!-- Bootstrap core CSS -->
    <link href="elemen/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template --> 
    <link href="carrousel2.css" rel="stylesheet">
    <link href="homepage.css" rel="stylesheet">
  </head>

  <body>
	 <style>
	 
	#car { margin-top : 10rem;
			   background-color :white;
			   opacity : 0.85;
			   border-radius : 21px;
			   min-width : 50%;
			   max-width : 100%
		}
		
	#isi { 	height : relative;
			width : 80%;
			border-radius : 21px;
		}
	#maps {
			height : 500px;
			width : 100%;
		}
	

	</style>

    <nav class="site-header fixed-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
      </div>
    </nav>

	 <div id="myCarousel" class="carousel slide d-none d-sm-inline" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide d-none d-sm-inline " src="elemen/image/imgnasi.jpg" alt="First slide">
            <div class="position-relative overflow-hidden text-center p-4 p-md-5  text-danger">
              <div id="car" class="col-md-12 p-lg-5  mb-2">
				<h1 class="display-4 font-weight-normal">KATALOG NASI JEPANG ITB</h1>
				<p class=" font-weight-normal">Rice box sahabat mahasiswa, kini bisa dipesan dimanapun Anda berada</p>
				<a class="btn btn-danger text-white" href="http://line.me/ti/p/~@mas6590u">Pesan Sekarang</a>
			  </div>
			</div>
          </div>
          <div class="carousel-item">
            <img class="second-slide d-none d-sm-inline" src="elemen/image/imgtopping.jpg" alt="Second slide">
            <div class="position-relative overflow-hidden text-center p-4 p-md-5  text-danger">
              <div id="car" class="col-md-12 p-lg-5  mb-2">
				<h1 class="display-4 font-weight-normal">KATALOG NASI JEPANG ITB</h1>
				<p class=" font-weight-normal">Rice box sahabat mahasiswa, kini bisa dipesan dimanapun Anda berada</p>
				<a class="btn btn-danger text-white" href="http://line.me/ti/p/~@mas6590u">Pesan Sekarang</a>
			  </div>
			</div>
          </div>
          <div class="carousel-item">
            <img class="third-slide d-none d-sm-inline" src="elemen/image/imgsaus.jpg"  alt="Third slide">
            <div class="position-relative overflow-hidden text-center p-4 p-md-5  text-danger">
              <div id="car" class="col-md-12 p-lg-5  mb-2">
				<h1 class="display-4 font-weight-normal">KATALOG NASI JEPANG ITB</h1>
				<p class=" font-weight-normal">Rice box sahabat mahasiswa, kini bisa dipesan dimanapun Anda berada</p>
				<a class="btn btn-danger text-whiter" href="http://line.me/ti/p/~@mas6590u">Pesan Sekarang</a>
			  </div>
			</div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <div class="position-relative overflow-hidden text-center p-4 p-md-5 d-sm-none text-danger">
		<h1 class="display-4 font-weight-normal">Katalog Nasi Jepang ITB</h1>
		<p class=" font-weight-normal">Rice box sahabat mahasiswa</p>
	</div>

	
	<!--daftar nasi-->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-5">
		<h1 class="text-center text-danger">Pilihan Nasi</h1>
	</div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 p-md-3">
      <div class="bg-dark mr-xs-3 pt-3 px-3 pt-xs-5 px-xs-3 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Nasi Putih</h2>
          <p class="lead">Sajian klasik yang cocok untuk semua orang</p>
        </div>
        <img id="isi" src="elemen/image/menu/nasi_putih.jpg" ></img>
      </div>
       <div class="bg-dark mr-xs-3 pt-3 px-3 pt-xs-5 px-xs-3 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Nasi Umami</h2>
          <p class="lead">Nasi khas dari kami dengan rasa yang kaya</p>
        </div>
        <img id="isi" src="elemen/image/menu/nasi_umami.jpg" ></img>
      </div>
    </div>
    
    <!--daftar topping-->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-5">
		<h1 class="text-center text-danger">Pilihan Topping</h1>
	</div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 p-md-3">
      <div class="bg-dark mr-xs-3 pt-3 px-3 pt-xs-5 px-xs-3 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Topping Ayam</h2>
          <p class="lead">Nikmat dan cocok dengan saus apapun</p>
        </div>
        <img id="isi" src="elemen/image/menu/topping_ayam.jpg" ></img>
      </div>
      <div class="bg-light mr-xs-3 pt-3 px-3 pt-xs-5 px-xs-3 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Topping Cumi</h2>
          <p class="lead">Seafood dengan rasa nikmat dan ringan</p>
        </div>
        <img id="isi" src="elemen/image/menu/topping_cumi.jpg" ></img>
      </div>
       <div class="bg-dark mr-xs-3 pt-3 px-3 pt-xs-5 px-xs-3 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Topping Campur</h2>
          <p class="lead">Perpaduan rasa unik yang menyenangkan</p>
        </div>
        <img id="isi" src="elemen/image/menu/topping_campur.jpg" ></img>
      </div>
    </div>
    
    <!--daftar saus-->
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-5">
		<h1 class="text-center text-danger">Pilihan Saus</h1>
	</div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 p-md-3">
      <div class="bg-dark mr-sm-3 pt-3 px-3 pt-sm-5 px-sm-3 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Saus Bali</h2>
          <p class="lead">Citarasa khas bali kini hadir di kampus</p>
        </div>
        <img id="isi" src="elemen/image/menu/saus_bali.jpg" ></img>
      </div>
      <div class="bg-light mr-sm-3 pt-3 px-3 pt-sm-5 px-sm-3 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Saus Blackpepper</h2>
          <p class="lead">Rasa pedas yang membuat harimu lebih cerah</p>
        </div>
        <img id="isi" src="elemen/image/menu/saus_bp.jpg" ></img>
      </div>
       <div class="bg-dark mr-sm-3 pt-3 px-3 pt-sm-5 px-sm-3 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Saus Mayo</h2>
          <p class="lead">Manis dan gurihnya mayonnaise yang sedap</p>
        </div>
        <img id="isi" src="elemen/image/menu/saus_mayo.jpg" ></img>
      </div>
      <div class="bg-light mr-sm-3 pt-3 px-3 pt-sm-5 px-sm-3 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Saus XO</h2>
          <p class="lead">Saus khas China yang memberi lidah sensasi baru</p>
        </div>
        <img id="isi" src="elemen/image/menu/saus_xo.jpg" ></img>
      </div>
    </div>

			<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-5">
			<h1 class="text-center text-danger">Kami ada di sini!</h1></div>
			<!--The div element for the map -->
	
			<div id="maps" class="container"></div>
			<script>
				function iniMap() {
					var nasjep = {lat : -6.8926674, lng : 107.6117472}
					var maps = new google.maps.Map(document.getElementById("maps"), {
						zoom : 17,
						center : nasjep
					});
					var marker = new google.maps.Marker({
						position : nasjep,
						map : maps
					});
				}
				
			</script>
			<!--API key-->
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeQt7jN0tp8bX4y_oLv0Uyuepoe3pd874&callback=iniMap">
			<script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>>
    <script src="elemen/js/bootstrap.min.js"></script>

    
  </body>
</html>
